@model IEnumerable<DBModels.User>
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<br />
<a href="/Users/Create/" class="btn btn-primary btn-sm active" role="button">Create New</a>
<br />
<table class="table table-hover">
    <tr>
        <td>
            <p>ID</p>
        </td>
        <td>
            <p>UserName</p>
        </td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var user in Model)
    {
    <tr>
        <td><p>@user.ID</p></td>
        <td><p>@user.UserName</p></td>
        <td><p><a href="/Users/Edit/@user.ID">Edit</a></p></td>
        <td><p><a href="/Users/Delete/@user.ID">Delete</a></p></td>
        <td><p><a href="/Users/Assign/@user.ID">Assign on project</a></p></td>
    </tr>
    }
</table>
