
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br />
<a href="/Teams/Create/" class="btn btn-primary btn-lg active" role="button">Create New</a>
<br />
<div>
    <h3>Projects</h3>
    <table>
        <tr>
            <td><p>ProjectID</p></td>
            <td><p>ProjectName</p></td>
            <td><p>TeamID</p></td>
            <td></td>
        </tr>
        @foreach (var pr in ViewBag.Proj)
        {
            <tr>
                <td><p>@pr.ID</p></td>
                <td><p>@pr.ProjectName</p></td>
                <td><p>@pr.TeamID</p></td>
                <td><p><a href="/Home/Buy/@pr.ID">Edit</a></p></td>
            </tr>
        }
    </table>
</div>