<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DBConnectionString" value="Persist Security Info=False;Integrated Security=true;Initial Catalog=TestDB;Server=EPBYMINW7544\SQLEXPRESS" />
    <add key="EmailServiceHost" value="localhost"/>
    <add key="EmailServicePort" value="25" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Behavior1" name="MyWCFService.Report">
        <clear />
        <endpoint binding="basicHttpBinding" name="HttpEndPoint" contract="MyWCFService.IReport"
          listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
          listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MyReportingService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Behavior1" name="MyWCFService.EmailReport">
        <endpoint address="net.msmq://localhost/private/testqueue" binding="netMsmqBinding"
          name="MSMQ" contract="MyWCFService.IEmailReport">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:80" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding exactlyOnce="false">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior1">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
