
@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>
<br />
<a href="/Tasks/Create/" class="btn btn-primary btn-sm active" role="button">Create New</a>
<br />
<table class="table table-hover">
    <tr>
        <td>
            <p>ID</p>
        </td>
        <td>
            <p>ProjectID</p>
        </td>
        <td>
            <p>TaskName</p>
        </td>
        <td>
            <p>UserID</p>
        </td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var t in ViewBag.Tasks)
    {
    <tr>
        <td><p>@t.ID</p></td>
        <td><p>@t.ProjectID</p></td>
        <td><p>@t.TaskName</p></td>
        <td><p>@t.UserID</p></td>
        <td><p><a href="/Tasks/Edit/@t.ID">Edit</a></p></td>
        <td><p><a href="/Tasks/Delete/@t.ID">Delete</a></p></td>
    </tr>
    }
</table>
